@import "tailwindcss";

@theme{
    --breakpoint-lp: 460px;
    --animate-spin: spin 1s linear infinite; /* spin 1s linear infinite */
    @keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
}